<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="SeleniumDef"    type="System.Configuration.NameValueSectionHandler" />
		<section name="ConfigSettings" type="System.Configuration.NameValueSectionHandler" />
		<section name="LogSettings"    type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<SeleniumDef>
		<add key="browserPath" value="C:\Users\ifspn\AppData\Local\Google\Chrome\User Data" />
		<add key="browserThype" value="Chrome" />
	</SeleniumDef>

	<ConfigSettings>
		<add key="StringConnection" value="C:\Users\ifspn\AppData\Local\Google\Chrome\User Data" />
		<add key="DBUser" value="allftc" />
		<add key="DBPassword" value="asddsaddasaswds" />
		<add key="DBServer" value="localhost" />
	</ConfigSettings>

	<LogSettings>
		<add key="SEQUrl" value="http://localhost:5431" />
		<add key="apiKey" value="allftc" />
	</LogSettings>
</configuration>
